# Python cache and logs
__pycache__/
*.py[cod]
*.log

# Virtual environments
.venv/
venv/
env/

# IDE / editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build / packaging
build/
dist/
*.egg-info/


# Jupyter notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Data files
data/*.csv


# Generated media
*.png
*.jpg
*.jpeg
*.gif
*.mp4
*.avi
*.mov